homeassistant:
  # Name of the location where Home Assistant is running
  name: Eglisau
  # Location required to calculate the time the sun rises and sets
  # Impacts weather/sunrise data (altitude above sea level in meters)
  # metric for Metric, imperial for Imperial
  unit_system: metric
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 385
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Zurich
  customize: !include customize.yaml

zone:
  name: Work
  latitude: !secret latitude_work
  longitude: !secret longitude_work
  radius: 20
homekit:
  auto_start: False
  filter:
    exclude_domains:
      - light
      - sensor
      - device_tracker
      - remote
    include_entities:
      - light.Esstisch
      - sensor.flora1_temperature
      - sensor.master_bedroom_temperature
# Enables the frontend
frontend:
map:
# Enables configuration UI
config:
logger:
  default: warn
  logs:
    homeassistant.components.device_tracker: critical
    pyatv: critical

hassio:
http:
  api_password: !secret http_password
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem
  # Uncomment this if you are using SSL or running in Docker etc
  base_url: !secret base_url
recorder:
  purge_keep_days: 60
 # db_url: sqlite:////home/user/.homeassistant/test
  exclude:
    domains:
      - automation
      - weblink
      - updater
    entities:
      - sun.sun # Don't record sun data
  #    - sensor.last_boot # Comes from 'systemmonitor' sensor platform
   #   - sensor.date
updater:
ios:
notify:
   - name: discord
     platform: discord
     token: !secret discord_token
#    host:
#    api:

discovery:
   ignore:
    - yeelight
hue:
  bridges:
    - host: 192.168.188.32
light:
  - platform: yeelight
    devices:
      192.168.188.34:
        name: Esstisch 1
      192.168.188.23:
        name: Esstisch 2
      192.168.188.54:
        name: Esstisch 3
  - platform: group
    name: Esstisch
    entities:
      - light.esstisch_1
      - light.esstisch_2
      - light.esstisch_3
  - platform: nanoleaf_aurora
    host: 192.168.188.41
    token: !secret nanoleaf_token
zwave:
  usb_path: /dev/ttyS0
  network_key: !secret zwave_network_key
google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

remote:
  - platform: harmony
    name: Wohnzimmer
    host: 192.168.188.31

history:
logbook:
sun:

media_player:
  - platform: plex
#  - platform: panasonic_viera
#    host:
#  - platform: anthemav
#    host: 192.168.188.47
device_tracker:
  - platform: fritz
    new_device_defaults:
      track_new_devices: False
      hide_if_away: False

#device_sun_light_trigger:
#  device_group: group.peoples
#  light_profile: relax
switch: !include switches.yaml
group: !include groups.yaml
automation: !include automations.yaml
automation old: !include automations_old.yaml
sensor: !include sensors.yaml
plant: !include plants.yaml

dyson:
  username: luxuspur@gmail.com
  password: !secret dyson
  language: DE
